<!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" style="background-image:none; background-color:#E74A3B;" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Home/Index">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-hamburger"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Back to Main website</div>
        </a>



        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Interface
        </div>


        <!-- Nav Item - Charts -->




        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="#!Burger">
                <i class="fas fa-hamburger"></i>
                <span>Burgers</span>
            </a>
        </li>

        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" href="#!Drink">
                <i class="fas fa-beer"></i>
                <span>Drinks</span>
            </a>
        </li>

        <!-- Nav Item - Tables -->
        <hr class="sidebar-divider d-none d-md-block">
        <li class="nav-item">
            <a class="nav-link" href="#!Meat">
                <i class="fas fa-drumstick-bite"></i>
                <span>Meats</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!Bread">
                <i class="fas fa-bread-slice"></i>
                <span>Breads</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!Cheese">
                <i class="fas fa-cheese"></i>              
                <span>Cheeses</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!Sauce">
                <i class="fas fa-wine-bottle"></i>
                <span>Sauces</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!Veggie">
                <i class="fas fa-pepper-hot"></i>
                <span>Veggies</span>
            </a>
        </li>


        <hr class="sidebar-divider d-none d-md-block">

        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" href="#!Order">
                <i class="fas fa-shopping-cart"></i>
                <span>Orders</span>
            </a>
        </li>

        


      

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
<!-- End of Sidebar -->
