@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <link href="~/Content/css/erropage.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div id="error_Background">


        @Html.ActionLink("Back to Homepage","Index" ,"Home",null,new {id="Button_Back" })

    </div>


</body>
</html>
