@{
    ViewBag.Title = "About";
}


<!--::chefs_part start::-->
<section class="chefs_part blog_item_section section_padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
                    <p>Team Member</p>
                    <h2>Our Experienced "Chefs"</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="~/Content/kostis.jpg" />
                    </div>
                    <div class="single_blog_text text-center">
                        <h3>Kostis Grodis</h3>
                        <p>Chef Master</p>
                        <div class="social_icon">
                            <a href="https://github.com/grodis"> <i class="fab fa-github"></i></a>
                          
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="~/Content/mary.jpeg" />
                    </div>
                    <div class="single_blog_text text-center">
                        <h3>Mary Ioannou</h3>
                        <p>Chef Master</p>
                        <div class="social_icon">
                            <a href="https://github.com/MaryIoannou"> <i class="fab fa-github"></i> </a>
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="~/Content/vlassis.jpg" />
                    </div>
                    <div class="single_blog_text text-center">
                        <h3>Vlassis Bakas</h3>
                        <p>Chef Master</p>
                        <div class="social_icon">
                            <a href="https://github.com/vlassisbakas"> <i class="fab fa-github"></i> </a>
                          
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!--::chefs_part end::-->