<!-- banner part start-->
@{
    ViewBag.Title = "Home";
}
<div class="se-pre-con"></div>
<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h5>Taste Our Delicies</h5>
                        <h1>Deliciousness jumping into the mouth</h1>
                        <p>
                            Remember a time when Burgers were freshly made-to-order? We do too!
                            At BeefTechee we live to serve you a nostalgic burger that will leave your mouth salivating
                            for more. Our Burgers are handmade with ground chuck, fresh vegetables, real cheese & a freshly baked bun.
                            <blockquote>“Only the pure in heart can make a good soup.” - Ludwig van Beethoven. He was deaf.</blockquote>
                        </p>
                        
                        <div class="banner_btn">
                            <div class="banner_btn_iner">
                                <a href="/Home/Menu" class="btn_2">Menu <img src="~/Content/img/icon/left_1.svg" alt=""></a>
                            </div>
                            <a href="https://www.youtube.com/watch?v=jPUQuBLkd40" class="popup-youtube video_popup">
                                <span><img src="~/Content/img/icon/play.svg" alt=""></span> Watch our story
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner part start-->
<!--::exclusive_item_part start::-->
<section class="exclusive_item_part blog_item_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
                    <p>Popular Dishes</p>
                    <h2>Our Exclusive Items</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                       
                        <img src="~/Content/burger1.jpg" />
                    </div>
                    <div class="single_blog_text">
                        <h3>Truffle-Mayo Burger</h3>
                    
                        <a href="Home/Menu" class="btn_3">Get it now! <img src="~/Content/img/icon/left_2.svg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="~/Content/burger2.jpg" />
                    </div>
                    <div class="single_blog_text">
                        <h3>Hollywood Burger</h3>
                        
                        <a href="Home/Menu" class="btn_3">Get it now! <img src="~/Content/img/icon/left_2.svg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        
                        <img src="~/Content/burger3.jpg" />
                    </div>
                    <div class="single_blog_text">
                        <h3>Hangover Burger</h3>
                       
                        <a href="Home/Menu" class="btn_3">Get it now!<img src="~/Content/img/icon/left_2.svg" alt=""></a>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>
<!--::exclusive_item_part end::-->
<!-- about part start-->
<section class="about_part">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-4 col-lg-5 offset-lg-1">
                <div class="about_img">
                    <img class="ml-5" style="width:612px;" src="~/Content/Hamburger-PNG-Transparent-Image.png" />
                </div>
            </div>
            <div class="col-sm-8 col-lg-4">
                <div class="about_text">
                    <h5>Our History</h5>
                    <h2>
                        Where The Food’s As Good
                        As The Root Beer.
                    </h2>
                    <h4>Satisfying people hunger for simple pleasures</h4>
                    <p>
                        Remember a time when Burgers were freshly made-to-order? We do too!
                        At BeefTechee we live to serve you a nostalgic burger that will leave your mouth salivating
                        for more. Our Burgers are handmade with ground chuck, fresh vegetables, real cheese & a freshly baked bun.
                    </p>
                    <a href="Home/Menu" class="btn_3">Menu <img src="~/Content/img/icon/left_2.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about part end-->
<!-- intro_video_bg start-->
<section class="intro_video_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro_video_iner text-center">
                    <h2>Expect The Best</h2>
                    <div class="intro_video_icon">
                        <a id="play-video_1" class="video-play-button popup-youtube"
                           href="https://www.youtube.com/watch?v=jPUQuBLkd40">
                            <span class="ti-control-play"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- intro_video_bg part start-->

<!--::chefs_part start::-->

<!--::chefs_part end::-->
