body {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Responsive login button and register button*/
@media only screen and (min-width: 992px) and (max-width: 1920px) {
    #navbarSupportedContent a#registerLink.nav-link {
        padding-left: 100px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1920px) {
    #imageDiv {
        padding-left: 100px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1920px) {
    #navbarSupportedContent a#usernameLink.nav-link {
        display: inline-block;
    }
}


/*Custom class to add margin to elements*/
.myMarginTop {
    margin-top: 126px;
}


/*PayPal button*/
.paypalButton {
    padding: 7px;
    border: 2px solid #002F86;
    border-radius: 27px;
}

    .paypalButton:hover {
        padding: 7px;
        border: 2px solid #FF6426;
        border-radius: 27px;
    }


#myUserImage {
    width: 50px;
    padding-left: 0px;
    margin-left: 15px;
    display: inline-block;
}