<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3b6afd11-37fe-4bc4-a855-b53ccadd79da/resourceGroups/biftekaki/providers/Microsoft.Web/sites/beeftechee</ResourceId>
    <ResourceGroup>biftekaki</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://beeftechee.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>beeftechee.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>beeftechee</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$beeftechee</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="beeftechee" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:beeftecheedbserver.database.windows.net,1433;Initial Catalog=beeftecheeShop;Persist Security Info=False;User ID=grodis@beeftecheedbserver;Password=123456gG;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:beeftecheedbserver.database.windows.net,1433;Initial Catalog=beeftechee_dbShop;Persist Security Info=False;User ID=grodis@beeftecheedbserver;Password=123456gG;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\beeftechee_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:beeftecheedbserver.database.windows.net,1433;Initial Catalog=beeftechee_dbShop;Persist Security Info=False;User Id=grodis@beeftecheedbserver;Password=123456gG;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:beeftecheedbserver.database.windows.net,1433;Initial Catalog=beeftechee_db_AuthUsers;Persist Security Info=False;User ID=grodis@beeftecheedbserver;Password=123456gG;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:beeftecheedbserver.database.windows.net,1433;Initial Catalog=beeftechee_db_AuthUsers;Persist Security Info=False;User ID=grodis@beeftecheedbserver;Password=123456gG;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:beeftecheedbserver.database.windows.net,1433;Initial Catalog=beeftechee_db_AuthUsers;Persist Security Info=False;User Id=grodis@beeftecheedbserver;Password=123456gG;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="beeftechee-Web.config Connection String">
      <ParameterValue>data source=tcp:beeftecheedbserver.database.windows.net,1433;initial catalog=beeftecheeShop;persist security info=False;user id=grodis@beeftecheedbserver;password=123456gG;connect timeout=30;encrypt=True;trustservercertificate=False;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>data source=tcp:beeftecheedbserver.database.windows.net,1433;initial catalog=beeftechee_db_AuthUsers;persist security info=False;user id=grodis@beeftecheedbserver;password=123456gG;connect timeout=30;encrypt=True;trustservercertificate=False;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>