


@{

    Layout = null;

}

<div>
    <div class="container-fluid">

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h3 class="m-0 font-weight-bold text-danger mb-2">Sauce's List</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <input class="mb-3 col-4" ng-model="search.Name" placeholder="Search by Sauce's Name">


                    <table class="table table-bordered mb-5 mt-5" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    Sauce's name
                                </th>
                                <th class="text-center">
                                    Price
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="sauce in sauces|filter:search:strict">
                                <td>
                                    {{sauce.Name}}
                                </td>
                                <td>
                                    €{{sauce.Price}}
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>





</div>


